/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * stylesheet.css - Defines the styles for the Kiwi Menu extension.
 */

.menu-button {
  width: 16px;
  height: 16px;
  margin: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.menu-button,
.menu-button > StIcon {
  icon-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.kiwi-recent-menu {
  margin-left: 16px;
  max-width: 350px;
}

.kiwi-main-menu {
  max-width: 300px;
}

.popup-section-header-label {
  font-weight: bold;
  font-size: 0.9em;
  color: var(--accent-fg-color);
  padding-right: 8px;
}

.kiwi-document-tooltip {
  background-color: rgb(90, 90, 90);
  border-radius: 12px;
  padding: 6px 10px;
  margin-bottom: 5px;;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
}

/*###############################################*/
/*            User Switcher Styles               */
/*###############################################*/
.kiwi-user-switcher-button {
  margin-left: 3px;
  margin-right: 3px;
  icon-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.kiwi-user-switcher-menu {
  min-width: 400px;
  padding: 6px 0;
}

.kiwi-user-grid {
  min-width: 100%;
  margin: 0 auto;
}

.kiwi-user-item {
  border-radius: 12px;
  padding: 12px;
  margin: 0 12px 0 12px;
}

.kiwi-user-item:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.kiwi-user-item-content {
  align-items: center;
}

.kiwi-user-card-avatar-frame {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
  border: 2px solid transparent;
}

/* Currently disabled, don't know if I like it
.kiwi-user-card-avatar-frame.logged-in {
  border-color: -st-accent-color;
}

.kiwi-user-card-avatar-frame.current-user {
  border-color: darkgoldenrod;
}
*/
.kiwi-user-card-avatar {
  border-radius: 999px;
  background-size: cover;
  background-position: center;
}

.kiwi-user-card-name {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.kiwi-user-switcher-empty {
  font-style: italic;
}

/* Avatar container for badge positioning */
.kiwi-user-avatar-container {
  width: 68px;
  height: 68px;
}

/* Session badge (checkmark) for logged-in users */
.kiwi-user-session-badge {
  background-color: -st-accent-color;
  border-radius: 99px;
  padding: 3px;
  font-weight: bold;
  color: -st-accent-fg-color;
  border: 1px solid;
  border-color: lightgray;
}

.kiwi-user-session-badge.current-user {
  background-color: darkgoldenrod;
  color: -st-accent-fg-color;
  border: 1px solid;
  border-color: lightgray;
}
